body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 225px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
}

.header {
	grid-area: header;
	padding:10px;
	background-color: #100f0f;
	color: rgb(246, 246, 246);
	font-size: 1.5em;
}

.content {
	grid-area: content;
	padding: 10px;
	background: rgb(81, 81, 81); /* background color */
    border: 2px solid rgb(82, 79, 79); /* border width, style, and color */
    margin: 0px; /* outer padding */
}

.footer {
	grid-area: footer;
	padding:3px;
	background-color: rgb(175, 175, 175);
	font-size: 0.75em;
}
.sidebar-item {
    padding: 10px; /* adds inner padding */
    background: gainsboro; /* background color */
    border: 1px solid gray; /* border width, style, and color */
    margin: 5px; /* outer padding */
}